---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Termos e Condições de Serviço">
  <main>
    <section class="max-w-screen-lg mx-auto px-4 py-20 text-slate-800">
      <h1 class="text-5xl font-bold">Termos e Condições</h1>

      <span class="mt-3 block italic text-slate-500 font-medium">Termos atualizados em 17 de dezembro de 2021.</span>
      
      <p class="mt-4 text-lg">
        Ao acessar o site da Arara School, você concorda em cumprir estes termos e condições de serviço, todas as leis e regulamentos aplicáveis, e concorda que é responsável pelo comprimento das leis locais aplicáveis. Os materiais contidos neste site são protegidos pelas leis e direitos autorais.
      </p>
      
      <p class="mt-4 text-lg">
        Em caso de dúvida, por favor, envie um email para <a href="mailto:contato@arara.school" class="text-blue-500 hover:underline">contato@arara.school</a>
      </p>

      <h2 class="text-3xl font-bold mt-10">1. Introdução</h2>

      <p class="mt-2 text-lg">
        A Arara School presta serviços de educação, criação de conteúdos, produção de eventos e demais tipos de conhecimentos com foco na indústria conversacional, como chatbots, voicebots e multimodais. Nossos conteúdos podem ser relevantes para pessoas da área de negócios, produto ou tecnologia. A escola é uma empresa inscrita no estado de São Paulo com o CNPJ 43.449.555/0001-28.
      </p>

      <h2 class="text-3xl font-bold mt-8">2. Do acesso a plataforma</h2>
      
      <p class="mt-2 text-lg">
        Estudantes, que podem ser qualquer pessoa interessada, poderão se inscrever na nossa plataforma e para completar o cadastro é necessário informar alguns dados pessoais verdadeiros e atuais, bem como mantê-los atualizados.
      </p>

      <p class="mt-2 text-lg">
        Qualquer informação que não seja verdadeira, completa ou seja inserida de forma incorreta poderá limitar ou remover o acesso à plataforma. Portanto, estudantes são responsáveis pelo cadastro correto na plataforma.
      </p>
      
      <p class="mt-2 text-lg">
        Ao criar a sua conta, estudantes terão acesso a nossa plataforma ou a outro serviço que possibilite o acesso ao conteúdo ofertado pela Arara School. Os conteúdos e serviços educacionais são para uso individual, intransferível e por tempo limitado. É vetada a cópia, revenda ou a criação de outros produtos, ou uso do material de forma indevida, com finalidade comercial ou exibição pública integral dos materiais dos cursos ofertados pela Arara School.
      </p>
      
      <p class="mt-2 text-lg">
        O acesso à plataforma ou outro serviço poderá ser revogado caso alguma dessas restrições seja violada. A Arara School respeita os direitos de propriedade intelectual de terceiros e esperamos o mesmo de estudantes da nossa instituição.
      </p>

      <h2 class="text-3xl font-bold mt-8">3. Cursos</h2>

      <p class="mt-2 text-lg">
        A Arara School oferece diferentes tipos de cursos em diferentes formatos. Portanto, a escola se reserva o direito de escolher a plataforma ou serviço que atenda melhor às suas necessidades operacionais e ofereça uma boa experiência para estudantes.
      </p>

      <p class="mt-2 text-lg">
        O tempo de acesso e o formato do curso será informado no momento da compra. Podendo ter o seu acesso revogado caso não haja pagamento, violação de algum dos termos descritos nesta página ou o tempo de acesso expirou.
      </p>
      
      <p class="mt-2 text-lg">
        Para os cursos ao vivo no formato remoto ou presencial, a escola se reserva o direito de alterar a data de um curso no prazo máximo de até 7 dias corridos antes do começo do mesmo. Isso pode acontecer por motivos de desastre natural, problemas de saúde da pessoa instrutora ou falta de procura que justifique a sua realização do curso.
      </p>

      <h2 class="text-3xl font-bold mt-8">4. Desistência</h2>

      <p class="mt-2 text-lg">
        A ausência, atraso ou falta de acesso por parte de estudantes durante o período de acesso ou realização do curso, sob quaisquer hipóteses, não dará direito a bonificação, desconto ou transferência de acesso.
      </p>
      
      <h2 class="text-3xl font-bold mt-8">5. Promoções e divulgações</h2>

      <p class="mt-2 text-lg">
        A qualquer momento a Arara School poderá realizar promoções ou outros tipos de divulgações (como códigos promocionais, brindes, bolsa de estudo ou parcerias). Caso isso aconteça, este fato não dará direito a bonificação, desconto ou brindes para demais estudantes que se inscreveram anteriormente a qualquer tipo de promoção ou divulgação.
      </p>

      <h2 class="text-3xl font-bold mt-8">6. Bolsas de estudo</h2>

      <p class="mt-2 text-lg">
        Como entidade que cria conteúdo, realiza eventos e produz diferentes tipos de conhecimentos, entendemos que temos um papel importante na sociedade e na democratização no acesso à informação. Portanto, para facilitar o acesso de pessoas com pouca representatividade, em situação de vulnerabilidade ou com poucas/sem condições financeiras de arcar com os custos da escola, a Arara School poderá, de acordo com seus critérios e discrição, conceder bolsas de estudo como forma de incentivo social e criar oportunidades para transformação social para essas pessoas.
      </p>

      <p class="mt-2 text-lg">
        Ao se inscrever no nosso programa de Bolsas de Estudo, podemos compartilhar os seus dados com parceiros e outras entidades que poderão nos ajudar no processo de seleção. Os critérios são informados no momento da inscrição.
      </p>

      <h2 class="text-3xl font-bold mt-8">7. Privacidade</h2>

      <p class="mt-2 text-lg">
        Ao acessar o nosso site, recebemos automaticamente alguns dados do seu dispositivo como endereço IP, navegador e sistema operacional. Para os cursos online, também coletamos automaticamente dados como aulas assistidas, tempo de acesso e outras interações na plataforma. Essas informações poderão ser utilizadas para customizar a sua navegação e melhorar a sua experiência.
      </p>

      <p class="mt-2 text-lg">
        Quando você faz uma compra ou se inscreve em alguns dos nossos conteúdos, nós fazemos a coleta de dados e informações pessoais para melhorar a sua experiência e personalizar a nossa comunicação com você. Em caso de compras, pedimos dados pessoais como nome completo, telefone, e-mail, endereço, CPF para a emissão de notas fiscais e pagamentos.
      </p>

      <p class="mt-2 text-lg">
        Obtemos o seu consentimento quando você finaliza a sua inscrição e entendemos que você está de acordo com a utilização de seus dados por nós. Todos os dados e informações cedidas são protegidas e podemos divulgar suas informações caso sejamos obrigados pela lei para fazê-lo. Caso você queira que todos os dados referentes ao seu usuário sejam apagados, basta você enviar um e-mail com essa solicitação para <a href="mailto:contato@arara.school" class="text-blue-500 hover:underline">contato@arara.school</a>
      </p>

      <h2 class="text-3xl font-bold mt-8">8. Serviços terceiros</h2>

      <p class="mt-2 text-lg">
        Utilizamos serviços terceiros para entregar uma boa experiência de acesso a nossa plataforma e demais conteúdos. Isso inclui serviços de pagamento, envios de email, videoconferência, entre outras.
      </p>

      <p class="mt-2 text-lg">
        Não compartilhamos nenhum dado além dos essenciais para liberar o acesso a nossa plataforma ou outro tipo de conteúdo. Isso quer dizer que compartilhamos apenas o mínimo necessário para conseguir liberar o seu acesso.
      </p>

      <h2 class="text-3xl font-bold mt-8">9. Certificações</h2>

      <p class="mt-2 text-lg">
        As certificações oferecidas pela Arara School são classificadas como livre e não tem reconhecimento do MEC. Contudo, entendemos que possa servir como um reconhecimento e validação de conhecimento para alguns casos, como em processos seletivos em empresas ou promoções de cargo.
      </p>

      <h2 class="text-3xl font-bold mt-8">10. Lei Aplicável</h2>

      <p class="mt-2 text-lg">
        Estes termos de serviço são regidos única e exclusivamente pelas leis brasileiras, sendo que qualquer ação judicial derivada de sua interpretação ou aplicação deverá ser julgada pelo Poder Judiciário brasileiro.
      </p>

      <h2 class="text-3xl font-bold mt-8">11. Mudança da política</h2>

      <p class="mt-2 text-lg">
        A Arara School se reserva o direito de modificar esses termos a qualquer momento. As alterações e demais esclarecimentos fornecidos nesta página tem efeito imediato. Para qualquer alteração destes termos, vamos atualizar esta página e avisar as pessoas envolvidas para que elas tenham ciência sobre quais informações coletamos e como as usamos.
      </p>
    </section>
  </main>
</Layout>