---
import Logo from '../assets/logo.svg'
import YoutubeIcon from '../assets/youtube-icon.svg'
import InstagramIcon from '../assets/instagram-icon.svg'
import LinkedInIcon from '../assets/linkedin-icon.svg'

const FOOTER_LINKS = [
  { href: '/', label: 'Home' },
  { href: '/termos-e-condicoes-de-servico', label: 'Termos e Condições' },
]

const SOCIAL_LINKS = [
  { label: 'Instagram', href: 'https://www.instagram.com/arara.school', Icon: InstagramIcon },
  { label: 'Youtube', href: 'https://www.youtube.com/channel/UC92dCdbsNZlyA_YTds7HkAw', Icon: YoutubeIcon },
  { label: 'LinkedIn', href: 'https://www.linkedin.com/company/arara-school/', Icon: LinkedInIcon },
]

const YEAR = new Date().getFullYear()
---
<footer class="bg-[#333545] text-white">
  <div class="flex items-center max-w-screen-xl mx-auto px-4 h-24">
    <Logo class="w-auto h-5" />

    <menu class="ml-6">
      <ul class="flex items-center gap-4">
        {FOOTER_LINKS.map((item) => (
          <li class="text-lg">
            <a href={item.href}>
              {item.label}
            </a>
          </li>
        ))}
      </ul>
    </menu>

    <div class="ml-auto flex items-center gap-4">
      <span class="text-lg">@{YEAR} Arara School</span>

      <div class="flex items-center gap-4 ml-4">
        {SOCIAL_LINKS.map(({ Icon, ...item}) => (
          <a href={item.href}>
            <Icon size={24} />
          </a>
        ))}
      </div>
    </div>
  </div>
</footer>