---
import Logo from '../assets/logo.svg'

const HEADER_LINKS = [
  {
    label: 'Sobre',
    href: '/#sobre',
    items: [],
  },
  {
    label: 'Cursos',
    href: '/#cursos',
    items: [
      {
        label: 'Design Conversacional',
        href: '/cursos/design-conversacional',
        items: [],
      },
      {
        label: 'UX Writing e Conteúdos Conversacionais',
        href: '/cursos/ux-writing-e-conteudos-conversacionais',
        items: [],
      },
    ],
  }
]
---
<header class="bg-[#167ffc] text-white">
  <div class="max-w-screen-xl h-20 px-4 mx-auto flex items-center">
    <a href="/">
      <Logo class="h-6 w-auto" />
    </a>

    <menu class='ml-auto'>
      <ul class="flex items-center gap-4">
          {HEADER_LINKS.map((item) => (
            <li class="text-lg font-medium p-1">
              <a href={item.href}>
                {item.label}
              </a>
            </li>
          ))}
      </ul>
    </menu>
  </div>
</header>